<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Quiz Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}">
</head>
<body>
    <div class="container">
        <h1>Quiz</h1>
        
        <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
            
            {% for question in questions %}
                <div class='question_div card ' style="display: none;">
                    <h3>{{ question.text }}</h3>
                    {% for answer in question.answers.all %}
                        <label>
                            <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                            {{ answer.text }}
                        </label><br>
                    {% endfor %}
                </div>
                
            {% endfor %}
            <input type="hidden" name="question_ids" id="question_ids">
            <br>
            <button type="button" id="prevBtn" onclick="showPrevQuestion()">Back</button>
            <button type="button" id="nextBtn" onclick="showNextQuestion()">Next</button>
            <button type="submit" id="submitBtn" style="display: none;">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'scripts/quiz.js' %}"></script>
</body>
</html>