<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Quiz Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quiz.css' %}">
</head>
<body>
    <div class="container">
        <h1>Quiz</h1>
        
        <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
            
            {% for question in questions %}
                <div class='question_div'>
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <h3>{{ question.text }}</h3>
                    {% for answer in question.answers.all %}
                        <label>
                            <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                            {{ answer.text }}
                        </label><br>
                    {% endfor %}
                </div>
            {% endfor %}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>