<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Questions</title>
    <link rel="stylesheet" href="{% static 'create.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="form-title">Create a Question with Answers</h1>
        <h3>Fill in the form below to create a question with answers. 
            <b>Answers must be according to the following: 
            1: Intellectual/Educational,
            2: Physical/Adventurous,
            3: Creative/Artistic,
            4: Social/Group-Based
        </b>
        </h3>
        <form method="post">
            {% csrf_token %}

            <div class="form-question">
                <h3>Question</h3>
                <div class="form-group">
                    {{ form.question.label_tag }}
                    {{ form.question }}
                </div>
            </div>

            <div class="form-answer">
                <h4>Answer 1</h4>
                <div class="form-group">
                    {{ form.answer1.label_tag }}
                    {{ form.answer1 }}
                </div>
            </div>
            <div class="form-answer">
                <h4>Answer 2</h4>
                <div class="form-group">
                    {{ form.answer2.label_tag }}
                    {{ form.answer2 }}
                </div>
            </div>
            <div class="form-answer">
                <h4>Answer 3</h4>
                <div class="form-group">
                    {{ form.answer3.label_tag }} 
                    {{ form.answer3 }}
                </div>
            </div>
            <div class="form-answer">
                <h4>Answer 4</h4>
                <div class="form-group">
                    {{ form.answer4.label_tag }}
                    {{ form.answer4 }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

   
</body>
</html>
